
*{
    box-sizing: border-box;
}
p{
font-size: 15px;
}
#container {
    border: 70 transparent;
    padding: 30px;
    width: 200px;
    height: fit-content;
    margin: auto;
    margin-top: 50px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
body{
    background-color:hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
}
 #first{
    font-weight: 700;
     font-family: 'Outfit', sans-serif;
}
#second{
    font-weight: 400;
}
.image{
    border-radius: 15px;
}
#row{
    border: 0 solid black;
    padding: 30px;
    width: 100%;
    height: 500px;
    margin: auto;
    background-color: hsl(212, 45%, 89%);
}
.attribution {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000000;
    text-align: center;
  }
  @media screen and (max-width: 375px){
    #container {
        flex: 90%;
    }
    #first{
        font-weight: 700;
         font-family: 'Outfit', sans-serif;
    }
    #second{
        font-weight: 400;
    }
      .attribution{
        font-size: 1.5em;
           position: fixed;
        font-weight: bold;
    }

  }
  @media screen and (max-width: 1440px){
    #container {
        flex: 90%;
    }
    #first{
        font-weight: bolder;
         font-family: 'Outfit', sans-serif;
         font-size: 2em;
    }
    #second{
        font-weight: lighter;
        font-size: 1.5em;
    }
      .attribution{
        font-size: 1.5em;
           position: fixed;
        font-weight: bold;
    }
  }
